<!--
    Launcher for rtabmap navigation controlled by nav_controller_node
-->
<launch>
  <node pkg="nav_controller" type="nav_controller_node" name="nav_controller"
        respawn="true"
        output="screen">
    <rosparam file="$(find nav_controller)/goals.yaml" command="load"/>
    <param name="fixed_frame_id" type="string" value="map"/>
    <param name="base_frame_id"  type="string" value="base_link"/>
    <param name="server_name"    type="string" value="/planner/move_base"/>
    <param name="feedback_rate_factor" type="int" value="10"/>
  </node>

</launch>
